<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    
    
        <link rel="shortcut icon" href="/images/favicon.ico">
    
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/css/main.css">

    
    
    
    
    
    
    
    
    
    
        
            <script>
  if (typeof MathJax === 'undefined') {
    window.MathJax = {
      loader: {
        
            load: ['[tex]/mhchem'],
        
        source: {
          '[tex]/amsCd': '[tex]/amscd',
          '[tex]/AMScd': '[tex]/amscd'
        }
      },
      tex: {
        inlineMath: {'[+]': [['$', '$']]},
        
            packages: {'[+]': ['mhchem']},
        
        tags: 'ams'
      },
      options: {
        renderActions: {
          findScript: [10, doc => {
            document.querySelectorAll('script[type^="math/tex"]').forEach(node => {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            });
          }, '', false],
          insertedScript: [200, () => {
            document.querySelectorAll('mjx-container').forEach(node => {
              let target = node.parentNode;
              if (target.nodeName.toLowerCase() === 'li') {
                target.parentNode.classList.add('has-jax');
              }
            });
          }, '', false]
        }
      }
    };
    (function () {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
      script.defer = true;
      document.head.appendChild(script);
    })();
  } else {
    MathJax.startup.document.state(0);
    MathJax.texReset();
    MathJax.typeset();
  }
</script>
              
    
    
    
    
    
    <title>
          
            wwow&#39;s blog
        
    </title>
    
    
<meta name="generator" content="Hexo 5.1.1"></head>
<body>
    <div id="app">
        <v-app>
            <v-content id="page">
                <v-container fluid>
                    <v-row>
                        <v-col cols="2" class="d-none d-md-block">
                            <div id="sidebar" class="float-right">
    <a href="/" rel="home">
        <v-avatar size=96>
            <img id="logo" src="/images/avatar.webp">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="/">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="/categories/">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="/tags/">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        
            
            <v-list-item href="/archives/" link>
            <v-list-item-icon><v-icon>archive</v-icon></v-list-item-icon>
            <v-list-item-content>
                Archives
            </v-list-item-content>
            </v-list-item>
        
    </v-list>
    <v-divider></v-divider>
    
        <v-list id="sub-menu" class="font-weight-medium" dense>
            
                
                    <v-list-item href="/categories/csapp/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="4" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>csapp</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
                
                    <v-list-item href="/categories/%E7%AE%97%E6%B3%95/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="4" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>算法</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
                
                    <v-list-item href="/categories/%E5%85%B6%E5%AE%83/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="2" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>其它</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
                
                    <v-list-item href="/categories/mit6-824/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="7" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>mit6.824</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
                
                    <v-list-item href="/categories/cmu15-445/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="3" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>cmu15-445</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
        </v-list>    
    

    <div id="footer">
        <div class="footer-social">
            
                
                <v-btn icon href="https://github.com/wwow1" target="_blank">
                    <v-icon>fab fa-github</v-icon>
                </v-btn>
            
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    Total Visitors <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            
            <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; 2015 - 2020 
                wwow
            </span>
        </div>
    </div>
</div>

                        </v-col>
                        <v-col cols="12" md="10">
                            <v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="/" rel="home">wwow&#39;s blog</a>
      </div>
      <div id="site-description">努力不一定会成功，但不努力真的很舒服</div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          
            
            <v-btn icon href="/archives/">
              <v-icon>archive</v-icon>
            </v-btn>
          
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,false)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>

                            <v-card class="elevation-2 index-card">
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-09-03
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/csapp/">csapp></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/09/03/csapp-dateLab/">csapp-dateLab</a>
      </div>
      
      <div class="index-article-content">
        
          CSAPP-DateLabDateLab是csapp的第一个课程实验，从csapp的官网上下载实验的压缩包。
我们需要填写代码压缩包中的bits.c文件
本次实验通过C语言完成，但是对于C语言某些特性和操作符的使用有严格限制(基本只能使用位运算)。
具体要求如下：
1234567891011121314151617181920//expr可以由以下元素构成://0~255的int常量//函数参数和局部变量//！ ~// &amp; ^ | + &lt;&lt; &gt;&gt;//不能做的事://使用if,do,while,for,switch等控制语句//定义和使用宏//定义额外的函数...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/09/03/csapp-dateLab/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-08-30
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/csapp/">csapp></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/08/30/csapp-shellLab/">csapp-shellLab</a>
      </div>
      
      <div class="index-article-content">
        
          CSAPP-shell lab本次实验的内容是完成一个简易的shell程序。
在开始实验之前请大家仔细阅读官网的write up，理解程序的要求以及作者给出的hint。
write up：http://csapp.cs.cmu.edu/3e/shlab.pdf
这一次实验的内容和书上第八章的内容联系非常紧密，程序的一部分实现和corner case的书中也有介绍，请在认真阅读第八章（特别是进程控制和信号这两部分）
这一次的shell lab，write up只给出了对程序的大概要求，而具体的一些要求则需要通过我们观察trace文件得到。所以可以从trace01开始，边读trace边改进自...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/08/30/csapp-shellLab/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-08-30
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/csapp/">csapp></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/08/30/csapp-cacheLab/">csapp-cacheLab</a>
      </div>
      
      <div class="index-article-content">
        
          csapp-cacheLab在开始实验时请认真阅读实验的指导书，其中关于实验的注意点和要求都写的非常明确，这些内容在本篇文章中不会提及。
http://csapp.cs.cmu.edu/3e/cachelab.pdf
PartA第一部分要求我们编写一个cache的模拟器，通过在运行程序时提供参数确定cache的参数(E–&gt;行数，s–&gt;索引位长，b–&gt;存储块的位长)，然后顺序读取测试文件中提供的64位内存地址序列，最后输出在这一过程中的hit,miss,evicts
压缩包中提供了一个二进制文件csim-ref，这个文件就是我们的参照，我们程序的运行结果需要和它完全相同。...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/08/30/csapp-cacheLab/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-08-30
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/csapp/">csapp></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/08/30/csapp-bombLab/">csapp-bomblab</a>
      </div>
      
      <div class="index-article-content">
        
          CSAPP-BombLabGDB简要指南:http://csapp.cs.cmu.edu/3e/docs/gdbnotes-x86-64.pdf
BombLab主要是为了学习如何阅读汇编代码和使用调试工具。
在csapp的网站下载的实验文件有3个，我们需要使用的是bomb文件，以及bomb.c文件，
bomb.c文件是用于方便我们了解实验的流程的。
而bomb则是实验的主要内容，使用objdump将它转为汇编代码，然后根据main函数的执行流程一路追踪程序的走向，这个lab总共有6个phase，每一个phase要求我们输入一个字符串，如果字符串不符合要求炸弹就会爆炸，我们需要通过跟踪观察...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/08/30/csapp-bombLab/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-06-16
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/%E7%AE%97%E6%B3%95/">算法></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/06/16/leetcode%E5%91%A8%E8%B5%9B-6-14/">Leetcode周赛 6.14</a>
      </div>
      
      <div class="index-article-content">
        
          5438.制作m束花所需的最少天数给你一个整数数组 bloomDay，以及两个整数 m 和 k 。
现需要制作 m 束花。制作花束时，需要使用花园中 相邻的k朵花 。
花园中有 n 朵花，第 i朵花会在 bloomDay[i] 时盛开，恰好 可以用于 一束 花中。
请你返回从花园中摘 m 束花需要等待的最少的天数。如果不能摘到 m 束花则返回 -1 。
示例 1：
输入：bloomDay = [1,10,3,10,2], m = 3, k = 1输出：3解释：让我们一起观察这三天的花开过程，x 表示花开，而 _ 表示花还未开。现在需要制作 3 束花，每束只需要 1 朵。1 天后：[x, ...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/06/16/leetcode%E5%91%A8%E8%B5%9B-6-14/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-05-27
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/cmu15-445/">cmu15-445></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/05/27/cmu15-445-%E7%BC%93%E5%86%B2%E6%B1%A0%E5%92%8C%E5%86%85%E5%AD%98%E7%AE%A1%E7%90%86/">CMU15-445学习笔记-缓冲池和内存管理</a>
      </div>
      
      <div class="index-article-content">
        
          Bifurcated environment（分叉环境？）
以上是目前许多公司的标准配置，它们有前端的OLTP数据库以及后端大型数据仓库，前端的OLTP数据库通常会被称为Data silo（数据孤岛，即相互独立的数据存储区），因为我们可以对其中一个数据库实例进行许多更新操作，并将其应用到此处的单个逻辑数据库中（Data silo），但这些前端数据库之间不会互相交流，它们每一个都是独立于其他数据库的一个“孤岛”。
从前端的OLTP数据库中得到数据后，我们会进行一种称为ETL（ETL是将业务系统的数据经过抽取，清洗转换后加载到数据仓库的过程）的操作，然后在数据仓库（OLAP数据库）中对这些数...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/05/27/cmu15-445-%E7%BC%93%E5%86%B2%E6%B1%A0%E5%92%8C%E5%86%85%E5%AD%98%E7%AE%A1%E7%90%86/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-05-20
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/cmu15-445/">cmu15-445></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/05/20/cmu15-445-%E6%95%B0%E6%8D%AE%E5%BA%93%E5%AD%98%E5%82%A8part2/">CMU15-445学习笔记-数据库存储part2</a>
      </div>
      
      <div class="index-article-content">
        
          面向磁盘型数据库系统page布局log-structured上节课我们在讲到page布局时说到了tuple-oriented的方式，使用slotted page的方法将每一个tuple对应的偏移量保存在slot中，这样就能在定位到tuple在page内部的位置。这节课将会补充说明另外一种log-structured方法。
这种组织方式不是将所有tuple存放在page内，而是去存储这些与创建tuple，修改tuple相关的日志信息。在page内部，我们不断的追加日志信息，并且这些信息是以文本形式存储的。当我们对tuple执行某项操作（insert xxx,update xxx等)，我们只...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/05/20/cmu15-445-%E6%95%B0%E6%8D%AE%E5%BA%93%E5%AD%98%E5%82%A8part2/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-05-14
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/cmu15-445/">cmu15-445></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/05/14/cmu15-445-%E6%95%B0%E6%8D%AE%E5%BA%93%E5%AD%98%E5%82%A8part1/">CMU15-445学习笔记-数据库存储part1</a>
      </div>
      
      <div class="index-article-content">
        
          Overview第一节课中我们学到了从使用者的角度如何看待数据库，也学会了如何编写sql语句从数据库中读写数据，在后续的课程里我们将会学习如何构建一个数据库管理软件。
面向磁盘型数据库系统每次我们要访问的数据都不在内存中，我们需要访问磁盘来得到我们需要的数据。在设计我们的软件时，需要设计一系列的组件来保护我们的系统。（有时会出现数据丢失，保存无效或错误数据等情况）
易失型存储和非易失型存储
存储设备层次
图中虚线上方的存储设备属于易失型存储，而虚线下方的属于非易失型存储，不同存储设备的访问速度从上到下递减，容量大小从上到下递增。
当电源断开时，易失型存储中的数据将会消失，而不能持续的存在...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/05/14/cmu15-445-%E6%95%B0%E6%8D%AE%E5%BA%93%E5%AD%98%E5%82%A8part1/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-04-18
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/mit6-824/">mit6.824></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/04/18/mit-6-824-lab4b-sharded-key-value-server/">MIT-6.824-lab4B-Sharded Key/Value Server</a>
      </div>
      
      <div class="index-article-content">
        
          github: https://github.com/wwow1/MIT-6.824
在4A中我们完成了shardmaster的构建，那么下一步我们就需要完善shardmaster下层的分片kv存储系统。
在这个实验中，我们将数据进行分片处理，并将它们下放到不同的shardkv集群中进行管理。对于分片的内容和处理都应该对上层进行封装，简而言之，对于上层的用户而言，他的使用体验应该和lab3相同。而shardkv服务器向上层提供Get，Put，Append三个接口（它们的功能和lab3相同）
首先说明一下，我贴出的代码都是最终代码，所以在解释过程中大家可能发现某些代码的作用不太看得懂，那么...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/04/18/mit-6-824-lab4b-sharded-key-value-server/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2020-04-10
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/mit6-824/">mit6.824></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2020/04/10/mit-6-824-4a-shardmaster/">MIT-6.824-lab4A-The Shard Master</a>
      </div>
      
      <div class="index-article-content">
        
          https://github.com/wwow1/MIT-6.824
在lab4中，我们将要搭建一个基于分片的kv存储系统，这个系统的工作流程稍微有一点复杂，我看了好几遍说明才看懂- -，同时也参考了一些网上的说明。
简而言之分片（shard）就是将我们要保存的数据分割成多份，然后将这些分片分发给下层的不同个raft集群，每一个raft集群负责多个分片的保存和响应对应的数据操作，同时为了管理这些不同的raft集群，在多个raft集群之上还需要增加一个用于管理分片和集群配置的raft集群，这个集群称为shardmaster
大家也许会想问分片是按照什么方法进行分割的呢？我认为具体的方法是由...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2020/04/10/mit-6-824-4a-shardmaster/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
   
</v-card>  


  <div id="pagination" class="text-center">
    <v-pagination 
      v-model="currentPage" 
      :length=2 
      @input="PageChange" 
      prev-icon="chevron_left"
      next-icon="chevron_right"
      color="secondary"
    ></v-pagination>
  </div>
         
                            <div id="mobile-footer" class="d-block d-md-none">
                                <v-divider></v-divider>
                                <div id="mobile-footer-content">
                                    <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a> &nbsp; Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
                                    <span> &copy; 2015 - 2020 wwow</span>
                                </div>
                            </div>                   
                        </v-col>                                            
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30"></script>

<script src="/js/main.js"></script>




    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>










</body>
</html>